<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Create new User</title>
</head>
<body>

<form th:method="POST" th:action="@{/api/users/save}" th:object="${newUser}">

    <label for="firstName">FirstName</label>
    <input th:field="*{firstName}" id="firstName">
    <br>
    <br>
    <label for="lastName">LastName</label>
    <input th:field="*{lastName}" id="lastName">
    <br>
    <br>
    <label for="age">Age</label>
    <input th:field="*{age}" id="age">
    <br>
    <br>
    <label for="email">Email</label>
    <input th:field="*{email}" id="email">
    <br>
    <br>
    <br>

    <input type="submit" value="Save User">

</form>

</body>
</html>